<a href="https://colab.research.google.com/github/cjerez833/PROGCOM-A/blob/main/clase_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estructuras de repeticion

permitir repitir una o mas acaciones de acuerdo con una condicion (mientras se cumpla la condicion)

#Estructuras para - for


1.   cuando se sabe cuantas veces se repite una accion.
2.   esta conformado por una condicion inicial (CI) una condicion final (CF)
y pasos (frecuencia de repeticion).
3.   Esta estructura no se adentra, hasta alcanzar CF-1

Estructura general de for

```
for (variable) in range(CI,CF+1,PASO):
se repite (CI+1-CF)/ paso veces una accion
```
Estructura resumida de for

```
for (variable) in range (cantidad):
se repite cantidad de veces una accion
```
Estructura or como iteracion
1. El para (for) itera tantas veces, como elementos tenga la lista
2. La variable toma el valor de cada elemento de la lista por iteracion

```
Lista=[1,2,3,4,5]
for (variable) in lista:
se repite len(lista)
```

In [ ]:
1 #Hacer la tabla de multiplicar de un numero n
2 n=int(input("Digita un numero: "))

In [ ]:
1 print(f"Tabla del {n}")
2 for holitas in range(1,11,1):
3 print(f"{n} x {holitas} = {n*holitas}")

In [ ]:
# Tablas de multiplicar del 1 al 10
for n in range(1, 11):
    print(f"\nTabla del {n}")
    for holitas in range(1, 11):
        print(f"{n} x {holitas} = {n * holitas}")

Tabla del 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Tabla del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Tabla del 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabla del 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabla del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabla del 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Tabla del 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Tabla del 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Tabla del 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

##Listas
1. Es un tipi de datos
2. Todos los elementos de una lista, **deden** separar se por comas
3. Forma canonica para declarar una lista

```
(varriable)=[]
```
Ejemplo:
Flores=["amapola","tulipan","lengua de suegra","dahlia","rosa"]

In [ ]:
dahlia=3 #variable de tipo numerica, int
rosa="cinco"#variable de tipo alfanumerico, str
flores=["amapola","tulipan","lengua de suegra",dahlia,rosa]

4. Manual.

```
Lista2=[dato1,dato2,dato3,..datoN]
```
5. Siempre son finitas
6. Son indexadas

```
Lista2=[dato1,dato2,dato3,..datoN]
```

dato esta en el index 0
dato 2 esta ubicado en el index 1
7. Estructuras **para**para la creacion de listas

```
#Ejemplo: Crear una lista de 5 elementos
lista=[] #para que el programa sepa que
es una lista
for loquesea in range(5):
lista=input("ingrese el numero de una flor")
```

In [ ]:
lista=[]
for loquesea in range(5):
  lista=input("ingrese el numero de una flor")

In [ ]:
lista=[]
for loquesea in range(5):
  lista.append(loquesea)

Ejercicios

EJERCICIO 1

In [2]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
numeros = list(range(1,11))
print(numeros)

EJERCICO 2

In [3]:
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
suma=sum(list(range(1,101)))
print("suma",suma)

EJERCICO 3

In [13]:
for i in range(1,31):
  if i % 3==0:
    print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
multiplos = [i for i range(1,31) if i%3==0]
print(multiplos)

EJERCICIO 4

In [ ]:
num=int(input("ingrese un numero:"))
for i in range(1,11):
  print(f"{num}x{i}={num*i}")

In [ ]:
n=int(input("ingrese un numero:"))
tabla=[f"{n}x{i}={n*i}" for i in range(1,11)]
  print("\n".jhon(tabla))

EJERCICIO 5

In [ ]:
suma=0
for i in range(5):
  n= float(input(f"ingrese el numero{i+1}:"))
  suma +=n
promedio= suma/5
print(f"el promedio es:{promedio}")

In [ ]:
numeros=0
for i in range(5):
  numero=float(input(f"ingrese el numero{i+1}:"))
  suma+= numero
promedio=sum/5
print("el promedio:",promedio)

EJERCICIO 6

In [ ]:
n= int(input("ingrese un numero:"))
suma = 0
for i in range(1,n+1):
  suma +=i
print("la suma es:",suma)

In [ ]:
n= int(input("ingrese un numero"))
pares =[i for i in range(1,n+1)if i%2==0]
print("cantidad de pares:",len(pares))

EJERCICIO 7

In [ ]:
n= int(input("ingrese un numero:"))
factorial = 1