<a href="https://colab.research.google.com/github/Adrian1228/PROGCOM-A/blob/main/Errores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##KeyError

In [8]:
#KeyError: Ocurre cuando la clave no está agregada al diccionario
x={"1": 10 ,"2": 20}
print(x["3"]) #El 3 no está en el diccionario

KeyError: '3'

##IndexError

In [17]:
 #IndexError: Ocurre cuando la indice esta fuera del rango de la lista
 x = (2,3,4)
 print(x[3]) #La posición 3 no existe (Solo está 0, 1, 2)

IndexError: tuple index out of range

#TypeError

In [18]:
#TypeError: Ocurre cuando intentas hacer una operación con tipos de datos incompatibles
x = "5"
y = 3
print(x + y) #No se puede sumar un string "5" con un int "3"

TypeError: can only concatenate str (not "int") to str

##NameError

In [19]:
#NameError: Ocurre cuando una variable no está definida
print(Nishida) #No dijimos que era "Nishida"

NameError: name 'Nishida' is not defined

##IndentationError

In [22]:
#IndentationError: Ocurre cuando la identación (espacios) está mal en el código
if True:
print("Profe") #El print debería estár identado o sea corrido un poco hacia la derecha. Eso se hace con la tecla "Tab"

IndentationError: expected an indented block after 'if' statement on line 2 (ipython-input-1458792451.py, line 3)

##ValueError

In [1]:
#ValueError: Ocurre cuando un dato es correcto pero, no tiene un valor válido para lo que se pidió
x = int("Hola") #Gracias a el "int" decimos que "Hola" es un número y el programa sabe que es un string por lo tanto, nos arroja error.
print(x)

ValueError: invalid literal for int() with base 10: 'Hola'